body {
    margin: 0;
    height: 100vh;
    font-family: 'Georgia', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: #ADD8E6; 
}

#container {
    text-align: center; 
    position: relative;
    top: 0px;
    transform: translateX(-20px);
}

#title {
    font-family: 'Roboto Slab', serif; 
    font-size: 3rem;
    font-weight: 1000; 
    color: black;
    transform: translateX(22px);
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.wrapper .dynamic-txts {
    line-height: 40px; 
    height: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.dynamic-txts li {
    list-style: none;
    font-family: 'Georgia', serif; 
    font-size: 30px;
    font-weight: 400; 
    color: black;
    margin: 0; 
    animation: slide 8s steps(2)
    infinite;
}

.dynamic-txts li {
    position: relative;
}
  
.dynamic-txts li::after {
    content: ""; 
    position: absolute;
    left: 0; 
    height: 100%;
    width: 100%; 
    background-color: #ADD8E6;
    border-left: 2px solid black; 
    animation: typing 4s steps(20) 
    infinite; 
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 1px);
    }

    100% {
        left: 0;
    }
}

@keyframes slide {
    0% {
        top: 0;
    }
    100% {
        top: -80px; 
    }
}


#button {
    display: flex;
    justify-content: center;
}

.button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ADD8E6; 
    border: 2px solid black;
    font-size: 16px; 
    font-weight: 400;
    padding: 10px 60px;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 15px; 
    transition: background-color 0.3s; 
}


.button:hover {
    background-color: #000000;
    color: white;
}

